<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.ExtentReportUtility"/>
    </listeners>

    <test verbose="2" preserve-order="true" name="CR Module Test Suite (TC-CR-027 to TC-CR-037)">
        <classes>
            <class name="testcases.TC_CR_027_028_CRLoginTests"/>
            <class name="testcases.TC_CR_029_030_031_CRTokenTests"/>
            <class name="testcases.TC_CR_032_CRSelfAttendanceTest"/>
            <class name="testcases.TC_CR_033_034_035_CRDefaulterTests"/>
            <class name="testcases.TC_CR_036_037_CRAnalyticsAttendanceTests"/>
        </classes>
    </test>
</suite>